*{
    padding: 0%;
    margin: 10px 10px;
    background-color: skyblue;

}

h1{
    text-align: center;
    margin: 0px 10px;
    align-items: center;
    position: absolute;
    top: 5%;
    left: 33%;

}
.container div { 
    display: inline-block; 
	width: auto; 
	min-height: auto; 
	background-color: rgb(0, 0, 0); 
	height: auto; 
  } 


  #button1{
    
    
    height: auto ;
    width: auto;
    font-weight: bold;
    color: red;
    font-size: medium;
    background-color: rgb(0, 0, 0);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 5%;


}
#button2{
    
    
    height: auto ;
    width: auto;
    font-weight: bold;
    color: red;
    font-size: medium;
    background-color: rgb(0, 0, 0);
    margin: 0;
    position: absolute;
    top: 50%;
    right: 25%;


}
.container .image-slider{
    height: 400px;
    width: 600px;
    position: absolute;
    background-color: rgb(0, 0, 0);
    margin: 6% 16%  ;
    color: black;
}
